<div class="row justify-content-center">
  <div class="col-6">
    <div class="card">
      <img class="card-img-top" alt="Card image cap" src="https://actu.meilleurmobile.com/wp-content/uploads/2015/06/gossip-application.jpg">
      <div class="card-body">
        <h5 class="card-title"><%=@gossip.title %></h5>
        <p class="card-text"><%= @gossip.content %></p>
        <p class="card-text">
        <p class="card-text">
          <small class="text-muted">
            posté par <a href="<%= user_path(@gossip.user.id) %>"><%=@gossip.user.first_name %></a>
            le <%=@gossip.created_at.strftime("%d/%m/%Y à %H:%I") %>
            à <%=@gossip.user.city.name %>
          </small>
        </p>
        <div class="row justify-content-center">
          <%= form_tag gossip_path(@gossip.id), method: "delete", style: "display: inline" do %>
            <%= submit_tag "Supprimer", {class: 'btn btn-danger'} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


