<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4 text-center">The Gossip Project</h1>

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="https://actu.meilleurmobile.com/wp-content/uploads/2015/06/gossip-application.jpg" alt="Card
        image cap">
          <div class="card-body">
            <h5 class="card-title"><%=@title %></h5>
            <p class="card-text"><small class="text-muted"><%=@author %></small></p>
            <p class="card-text"><%=@content %></p>
            <a type="button" class="btn btn-primary btn-block"
               href="<%=gossip_path(@id) %>">
              Voir le potin
            </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://actu.meilleurmobile.com/wp-content/uploads/2015/06/gossip-application.jpg" alt="Card
        image cap">
          <div class="card-body">
            <h5 class="card-title"><%=@title %></h5>
            <p class="card-text"><small class="text-muted"><%=@author %></small></p>
            <p class="card-text"><%=@content %></p>
            <a type="button" class="btn btn-primary btn-block"
               href="<%=gossip_path(@id) %>">
              Voir le potin
            </a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://actu.meilleurmobile.com/wp-content/uploads/2015/06/gossip-application.jpg" alt="Card
        image cap">
          <div class="card-body">
            <h5 class="card-title"><%=@title %></h5>
            <p class="card-text"><small class="text-muted"><%=@author %></small></p>
            <p class="card-text"><%=@content %></p>
            <a type="button" class="btn btn-primary btn-block" href="<%=
              gossip_path(@id)
            %>">Voir le
              potin</a>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://actu.meilleurmobile.com/wp-content/uploads/2015/06/gossip-application.jpg" alt="Card
        image cap">
          <div class="card-body">
            <h5 class="card-title"><%=@title %></h5>
            <p class="card-text"><small class="text-muted"><%=@author %></small></p>
            <p class="card-text"><%=@content %></p>
            <a type="button" class="btn btn-primary btn-block" href="<%=
              gossip_path(@id)
            %>">Voir le
              potin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>