<div class="container">
  <h1 class="display-4 text-center">The Gossip Project</h1>

  <p>id : <%= @user.id %></p>
  <p>first name id : <%= @user.first_name %></p>
  <p>last name : <%= @user.last_name %></p>
  <p>description : <%= @user.description %></p>
  <p>email : <%= @user.email %></p>
  <p>age : <%= @user.age %></p>
  <p>city : <%= @user.city.name %></p>
</div>