<!DOCTYPE html>
<html>
  <head>
    <title>TheGossipProject2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light" style="background-color: #7C53B8;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">The Gossip Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%=root_path %>">Home</a>
          </li>
            <li class="nav-item active">
            <a class="nav-link" href="<%=team_path%>">Equipe
              <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=contact_path %>">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=new_gossip_path %>">Nouveau Gossip</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%=city_path(1) %>">Ville</a>
          </li>
        </ul>
      </div>
    </nav>
  </nav>
</header>
    <%= yield %>
  </body>
</html>
